@imagesDir:"../../public/img";

.wrapper {
    height: 100%;    
}

.login-form {        
    margin: auto;
    margin-top: 150px;
    width: 400px;
    text-align: center;    
}

.login-error-message {
    margin-bottom: 15px;
    text-align: left;
}

.popover {
    // width: 450px;
    padding: 20px;


}

.group-create-error-message {
    margin-bottom: 15px;
    text-align: left;
}

.bp3-popover-target {
    width: 100%;
}

.bp3-html-select {
    width: 100%;

}

// Inline SVG code images in LESS CSS
// @author Matt Scheurich <matt@lvl99.com> (http://lvl99.com)
// Github: https://github.com/lvl99/less-inline-svg-code
.inline-svg-code( @code ) {
    @-svg-code: escape(~'<?xml version="1.0" ?>@{code}');
    @-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
    @-inline-svg-url: ~"url('@{-inline-svg-code}')";
}


.logo-white {

     // Encode the SVG image code into a string which can be used within this class declaration
    .inline-svg-code(~'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.71 147.67"><defs><style>.cls-1{fill:#fff;}</style></defs><title>PS_ikon</title><g id="Lag_2" data-name="Lag 2"><g id="Layer_1" data-name="Layer 1"><path class="cls-1" d="M129.16,114.1a40.34,40.34,0,0,1-40.3-40.29h12.5a27.8,27.8,0,1,0,55.59,0h12.5a40.34,40.34,0,0,1-40.29,40.29"/><path class="cls-1" d="M207.66,135.16H170.21a73.92,73.92,0,0,0,28.15-35.77c.44-1.18.84-2.37,1.22-3.56.19-.6.37-1.21.54-1.81.12-.44.06-.57.51-.73s.91-.3,1.36-.44a21.22,21.22,0,0,1,8.16-.68,21.56,21.56,0,0,1,9,39.68,21.54,21.54,0,0,1-11.47,3.31m0-55.62a34.32,34.32,0,0,0-5,.4A73.74,73.74,0,0,0,87.75,12.76,74.7,74.7,0,0,0,68,32.6q-2,2.94-3.67,6c-.54,1-2.52,5.1-2.64,5.36l-1.49-.26a52.26,52.26,0,1,0-2.37,103.61,51.86,51.86,0,0,0,37.28-22.54,76.58,76.58,0,0,1-9.43-7.8,39.8,39.8,0,0,1-53.06,13A39.82,39.82,0,0,1,14.09,84c5.24-17.66,22.81-30,41.26-28.32a40.76,40.76,0,0,1,14.23,3.86,61.31,61.31,0,1,1,109,50.55A61.82,61.82,0,0,1,133.38,135c-1.4.09-2.8.14-4.2.14v12.49h73.65c2.62,0,5.28.1,7.9-.14a34.05,34.05,0,0,0-3.07-68"/></g></g></svg>');
        
    background-image: @-inline-svg-url;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;        

    width: 75px;
    height:32px;
    margin: 0px 5px 0px 0px;
    padding: 0px;


}

.card {
    margin: 20px;
}

.groups-create {
    width: 350px;
}

.search {
    margin-bottom: 20px;
    width: 50%;
}

#root {
    height: 100%;
}

.bp3-html-table {
    width: 100%;
}

body {
    height: 100vh;    
    background-color: #30404D;
}

p {
    margin: 0px;
}

h1 h2 h3 h4 h5 {
    color: #EBF1F5;
}

h1 {
    margin-bottom: 25px;
}